---
import SectionTitle from '../../components/SectionTitle.astro';
import Tabs from '../../components/tabs/Tabs';
---

<div class="py-20">
  <div class="container">
    <div class="max-w-4xl mx-auto">
      <SectionTitle title="Where I’ve Worked" />

      <Tabs client:visible />
    </div>
  </div>
</div>
