---
import SectionTitle from '../../components/SectionTitle.astro';
---

<div class="pb-20">
  <div class="container">
    <div class="max-w-4xl mx-auto">
      <SectionTitle title="About me" />
      <div class="flex">
        <div>
          <p class="mb-2">
            I am a result-oriented Frontend Developer with 4+ years in the Web Development space. I focus on code quality and
            relevant technologies.
          </p>
          <p class="mb-2">
            Technical Skills & Tools: Javascript, Typescript, React, Next, Mobx, Redux, Material UI, Git, VS Code, Figma, Postman,
            Gitlab, Jira.
          </p>
          <p class="mb-2">
            Additionally, I am a big new technologies fan. I joined the startup to make applications on the blockchain and we made
            about 3 web applications on Ethereum.
          </p>
          <p class="mb-2">
            I get excited about opportunities where I'm able to make great web applications that are visible to the eye.
          </p>
          <p class="mb-2">I love connecting with new people, give me a shout at 𝗯𝗲𝗴𝗺𝘂𝗵𝗼𝗺𝗺𝗲𝘁.𝗷𝘂𝗺𝗮𝘆𝗲𝘃@𝗴𝗺𝗮𝗶𝗹.𝗰𝗼𝗺</p>
        </div>
        <div class="pl-5">
          <div class="relative group w-60 h-60">
            <div
              class="w-60 h-60 rounded-lg overflow-hidden border-4 border-secondary-light group-hover:border-secondary-main transition-all"
            >
              <img
                src="../../../public/assets/bega.png"
                alt="bega"
                class="grayscale group-hover:grayscale-0 transition-all relative z-20"
              />
            </div>
            <div
              class="w-60 h-60 rounded-lg border-4 opacity-1 z-10 border-secondary-main absolute top-5 left-10 transition-all group-hover:opacity-0 group-hover:-translate-x-10 group-hover:-translate-y-10"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
