---
// Component Imports
import Head from '../components/Head.astro';
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import HeroSection from '../sections/hero/HeroSection.astro';
---

<html lang="en">
  <Head />

  <body class="bg-background-main text-white font-sans">
    <Header />

    <main class="wrapper">
      <HeroSection />
    </main>

    <Footer />
  </body>
</html>
